<div data-role="navbar" class="navbar">
  <ul>
   <li><a href="/services" data-role="button" data-icon="star" data-iconpos="right" data-theme="b" class="nav">Services</a></li>
   <li><a href="/{{ continue }}" data-role="button" data-icon="check" data-iconpos="right" data-theme="b" class="nav">Continue</a></li>
   <li><a href="/{{ addnew }}" data-role="button" data-icon="plus" data-iconpos="right" data-theme="b" class="nav">Add {{ entity }}</a></li>
  </ul>
</div>

