<div class="content-wrapper"><h1>Services</h1></div>
<div class="content-wrapper">
	<div data-role="navbar">
		<ul>
			<li><a href="/profile" data-role="button" data-icon="star" data-iconpos="right">My Profile</a></li>
		</ul>
	</div>
	<ul data-role="listview" data-theme="c" data-inset="true" >
		<li><a href="/transport_list" rel="external">Transport</a></li>
		<li><a href="/accommodation_list" rel="external">Accommodate</a></li>
	</ul>
	<br />
</div>